.bg-img-1{
   background: url('../Assets/img1.jpg');
}
.bg-img-2{
    background: url('../Assets/img2.JPG');
}
.bg-img-3{
    background: url('../Assets/img3.JPG');
}
.carousel-img{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width:900px) { 
    .bg-img-1{
        background: url('../Assets/img1-small_dev.jpg');
     }
     .bg-img-2{
         background: url('../Assets/img2-small_dev.jpg');
     }
     .bg-img-3{
         background: url('../Assets/img3-small_dev.JPG');
     }
     .carousel-img{
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
} 