.view_all_button{
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;

}
.view_all_button:hover{
    transform: scale(1.05)
}

.whatsapp{
    position: fixed;
    bottom: 4%;
    left: 4%;
    z-index: 1000;
    width: 100px;
    cursor: pointer;
    
}
@keyframes mymove {
    50% {transform: rotateY(180deg);}
  }
.whatsapp:hover{
    animation: mymove 2s infinite;
}
